In [16]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
import csv

import gmaps

# Census API Keys
from config import (api_key)

In [39]:
response = requests.get(f"https://api.census.gov/data/2019/pep/population?get=POP&for=state:*&key={api_key}").json()
response_df = pd.DataFrame(response)
rename_df = response_df.rename(columns={0: "Population", 1: "State Number"})
pop_df = rename_df.drop([0])
pop_df.to_csv("state_pop.csv", encoding="utf-8", index=False, header=True)
print(len(pop_df))
pop_df.head()

52

  Population State Number
1    2976149           28
2    6137428           29
3    1068778           30
4    1934408           31
5    3080156           32

In [40]:
income_response = requests.get(f"https://api.census.gov/data/timeseries/poverty/saipe?get=SAEPOVALL_PT,SAEMHI_PT,NAME&for=state:*&time=2018&key={api_key}").json()
income_response_df = pd.DataFrame(income_response)
rename_inc_df = income_response_df.rename(columns={1:"Median Household Income Est.", 2: "State", 4: "State Number"})
income_df = rename_inc_df.drop([0])
income_df = income_df.drop(columns= [0, 3])
income_df.to_csv("pop_income.csv", encoding="utf-8", index=False, header=True)
print(len(income_df))
income_df.head()

51

  Median Household Income Est.       State State Number
1                        49881     Alabama           01
2                        74912      Alaska           02
3                        59079     Arizona           04
4                        47094    Arkansas           05
5                        75250  California           06

In [60]:
merged_df = pd.merge(pop_df, income_df, on= "State Number")
merged_df = merged_df.set_index("State")
merged_df.to_csv("merged_pop_income_state.csv", encoding="utf-8", index=False, header=True)
print(len(merged_df))
merged_df.head()

51

            Population State Number Median Household Income Est.
State
Mississippi    2976149           28                        44740
Missouri       6137428           29                        54412
Montana        1068778           30                        55248
Nebraska       1934408           31                        59724
Nevada         3080156           32                        58740

In [146]:
df = pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv") 
df.to_csv('covid_data.csv')
df = df.drop(columns= "fips")
df = df.rename(columns={"state":"State", "cases": "Cases", "deaths": "Deaths"})
df = df.groupby(df["State"]).max()
df = df.reset_index()
covid_merge = pd.merge(merged_df, df, on = "State")
covid_merge = covid_merge.drop(columns= ["State Number", "date"])
covid_merge = covid_merge.sort_values("State")
covid_merge["Mortality Rate"] = covid_merge["Deaths"]/covid_merge["Cases"]*100
covid_merge.head()

,State,Population,Median Household Income Est.,Cases,Deaths,Mortality Rate
27,Alabama,4903185,49881,110361,1936,1.754243
28,Alaska,731545,74912,5175,27,0.521739
29,Arizona,7278717,59079,194931,4535,2.326464
30,Arkansas,3017804,47094,53487,619,1.157291
31,California,39512223,75250,640499,11523,1.799066

In [149]:
state_size = pd.read_csv("state_size.csv")
state_size = state_size.drop(columns="index")
state_size = state_size.rename(columns={"state": "State"})
covid = pd.merge(covid_merge, state_size, on="State")
covid["Population"] = np.dtype('int64').type(covid["Population"])
covid["Population Density"] = covid["Land Area (square miles)"]/covid["Population"]
covid

,State,Population,Median Household Income Est.,Cases,Deaths,Mortality Rate,Land Area (square miles),Population Density
0,Alabama,4903185,49881,110361,1936,1.754243,50744,0.010349
1,Alaska,731545,74912,5175,27,0.521739,571951,0.781840
2,Arizona,7278717,59079,194931,4535,2.326464,113635,0.015612
3,Arkansas,3017804,47094,53487,619,1.157291,52068,0.017254
4,California,39512223,75250,640499,11523,1.799066,155959,0.003947
5,Colorado,5758736,71949,53674,1906,3.551068,103718,0.018011
6,Connecticut,3565287,76366,51267,4456,8.691751,4845,0.001359
7,Delaware,973764,65467,16593,593,3.573796,1954,0.002007
8,Florida,21477737,55433,579924,9757,1.682462,53927,0.002511
9,Georgia,10617423,58634,224681,4691,2.087849,57906,0.005454
10,Hawaii,1415872,80527,5326,40,0.751033,6423,0.004536
11,Idaho,1787065,55524,28486,283,0.993470,82747,0.046303
12,Illinois,12671821,65063,211806,8017,3.785067,55584,0.004386
13,Indiana,6732219,55725,83799,3165,3.776895,35867,0.005328
14,Iowa,3155070,60071,53201,1002,1.883423,55869,0.017708
15,Kansas,2913314,58150,35632,415,1.164683,81815,0.028083
16,Kentucky,4467673,50189,42270,859,2.032174,39728,0.008892
17,Louisiana,4648794,48021,139248,4554,3.270424,43562,0.009371
18,Maine,1344212,55579,4213,127,3.014479,30862,0.022959
19,Maryland,6045680,83076,101780,3650,3.586166,9774,0.001617
20,Massachusetts,6892503,79817,124063,8848,7.131860,7840,0.001137
21,Michigan,9986857,56640,103527,6607,6.381910,56804,0.005688
22,Minnesota,5639632,70295,66107,1767,2.672939,79610,0.014116
23,Mississippi,2976149,44740,73207,2128,2.906826,46907,0.015761
24,Missouri,6137428,54412,70700,1477,2.089109,68886,0.011224
25,Montana,1068778,55248,5867,84,1.431737,145552,0.136185
26,Nebraska,1934408,59724,30825,370,1.200324,76872,0.039739
27,Nevada,3080156,58740,62752,1102,1.756119,109826,0.035656
28,New Hampshire,1359711,75322,7017,424,6.042468,8968,0.006596
29,New Jersey,8882190,81777,189937,15925,8.384359,7417,0.000835
30,New Mexico,2096829,47405,23579,723,3.066288,121356,0.057876
31,New York,19453561,67648,431298,32446,7.522873,47214,0.002427
32,North Carolina,10488084,53922,147141,2425,1.648079,48711,0.004644
33,North Dakota,762062,65250,8786,132,1.502390,68976,0.090512
34,Ohio,11689100,56155,109923,3871,3.521556,40948,0.003503
35,Oklahoma,3956971,51914,49326,682,1.382638,68667,0.017353
36,Oregon,4217737,63168,23685,399,1.684611,95997,0.022760
37,Pennsylvania,12801989,60891,130286,7561,5.803386,44817,0.003501
38,Rhode Island,1059361,63787,20692,1024,4.948772,1045,0.000986
39,South Carolina,5148714,52449,107672,2343,2.176053,30109,0.005848
40,South Dakota,884659,57041,10443,154,1.474672,75885,0.085779
41,Tennessee,6829174,52366,132796,1410,1.061779,41217,0.006035
42,Texas,28995881,60632,577220,10798,1.870691,261797,0.009029
43,Utah,3205958,71381,47285,372,0.786719,82144,0.025622
44,Vermont,623989,60917,1530,58,3.790850,9250,0.014824
45,Virginia,8535519,72600,108282,2396,2.212741,39594,0.004639
46,Washington,7614893,74023,71033,1896,2.669182,66544,0.008739
47,West Virginia,1792147,44038,8731,164,1.878364,24078,0.013435
48,Wisconsin,5822434,60779,71517,1063,1.486360,54310,0.009328
49,Wyoming,578759,62259,3360,34,1.011905,97100,0.167773

In [150]:
covid.to_csv("complete_dataset.csv", encoding="utf-8", index=False, header=True)
print(len(covid))
covid.head()

50

,State,Population,Median Household Income Est.,Cases,Deaths,Mortality Rate,Land Area (square miles),Population Density
0,Alabama,4903185,49881,110361,1936,1.754243,50744,0.010349
1,Alaska,731545,74912,5175,27,0.521739,571951,0.781840
2,Arizona,7278717,59079,194931,4535,2.326464,113635,0.015612
3,Arkansas,3017804,47094,53487,619,1.157291,52068,0.017254
4,California,39512223,75250,640499,11523,1.799066,155959,0.003947